<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.koneki.ldt.tests.testSuites">
      <testSuite
            class="org.eclipse.koneki.ldt.parser.apimodel.internal.tests.ASTGenerationTestSuite">
      </testSuite>
   </extension>

</plugin>
